<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <h2>Cadastro de Clientes</h2>
        <form #clienteForm="ngForm" (ngSubmit)="salvarCliente()">
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" placeholder="Digite seu nome" required="" autocomplete="off" name="nome" [(ngModel)]="cliente.nome">
            </div>

            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" placeholder="Digite seu endereço" required autocomplete="off" name="endereco" [(ngModel)]="cliente.endereco">
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control" placeholder="Digite seu telefone" required autocomplete="off" name="telefone" [(ngModel)]="cliente.telefone">
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>