<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
</head>

<body>

    <div class="container mt-5">
        <h2>Cadastro de Clientes</h2>
        <form [formGroup]="formulario" (ngSubmit)="salvarCliente()">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" placeholder="Digite seu nome" autocomplete="off" formControlName="nome">
                <ng-container *ngIf="formulario.controls.nome.touched">
                    <span *ngIf="formulario.controls.nome.errors" class="text-danger">Campo obrigatório!</span>
                </ng-container>
            </div>

            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" placeholder="Digite seu endereço" autocomplete="off" formControlName="endereco">
                <ng-container *ngIf="formulario.controls.endereco.touched">
                    <span *ngIf="formulario.controls.endereco.errors" class="text-danger">Campo obrigatório!</span>
                </ng-container>
            </div>

            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" placeholder="Digite seu telefone" autocomplete="off" formControlName="telefone" mask="(00) 00000-0000">
                <ng-container *ngIf="formulario.controls.telefone.touched">
                    <span *ngIf="formulario.controls.telefone.errors" class="text-danger">Campo obrigatório!</span>
                </ng-container>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!formulario.valid">Cadastrar</button>
            <button type="button" class="btn btn-primary" (click)="voltarClientes()">Voltar</button>
        </form>
    </div>
</body>
