<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Gestão de Clientes</h2>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-primary btn-lg mr-2">Novo Cliente</button>
        <button class="btn btn-secondary btn-lg">Clientes</button>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Buscar Cliente...">
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success">Buscar</button>
      </div>
    </div>
  </div>
  