
  button {
    font-size: 15px;
    padding: 10px;
  }

  input{
    font-size: 15px;
    padding: 10px;
  }

  .table-responsive {
    margin-top: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
    font-size: 15px;
  }
  
  .btn-primary i, .btn-danger i {
    margin-right: 5px;
  }
  