<div class="container-fluid">
  <form #consultarForm="ngForm" (submit)="buscarCliente()">
    <div class="row mt-4">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Buscar Cliente..." [(ngModel)]="nome" name="nome">
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success" type="submit">Buscar</button>
        <button class="btn btn-primary" type="button" (click)="voltarClientes()">Voltar</button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{ cliente.id }}</th>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.endereco }}</td>
        <td id="telefone" name="telefone">{{ cliente.telefone | mask: '(00) 00000-0000'}}</td>
    </tbody>
  </table>
</div>